@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input:focus {
  outline: 3px solid #7a8ff7;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
